.Formulario {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    height: 500px; 
    width: 100vw;
}

.Formulario  div {
    margin-bottom: 10px; 
    width: 80%;
}

.Formulario label {
    display: block; 
    margin-bottom: 5px;
}

.Formulario input,
.Formulario textarea {
    width: 100%; 
    padding: 8px;
    box-sizing: border-box; 
    border-radius: 9px;
    border: 1px solid rgb(248, 180, 34);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.Formulario button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(248, 180, 34);
    color: rgb(57, 57, 57);;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

h2{
color: rgb(57, 57, 57);
font-size: xx-large;

}


.noticias {
    background-color: rgb(250, 206, 119);
    padding: 40px;
    text-align: center;
    
}


.nuevaNoticia {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    max-width: 1200px;
    margin: 20px auto;
}


.noticia-card {
    background:  rgb(255, 251, 236);
    border-radius: 9px;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 45%; 
    min-width: 300px; 
    text-align: center;
}


.noticia-card img {
    width: 100%;
    height: 200px; 
    border-radius: 9px;
    object-fit: cover;
}


.noticia-card h3 {
    color: rgb(248, 180, 34);
    padding: 20px;
    text-transform: uppercase;
}


.noticia-card p {
    padding: 10px;
}

.fecha{
    color: rgb(104, 104, 104);
}

@media (max-width: 768px) {
    .nuevaNoticia {
        flex-direction: column;
    }

    .noticia-card {
        width: 100%; 
    }
}
