<div class="Formulario">
    <h2>Crea tu noticia</h2>
    <div>
        <label for="title">Título</label>
        <input type="text" id="title" name="title" placeholder="Título">
    </div>
    <div>
        <label for="image">Imagen</label>
        <input type="url" id="image" name="image" placeholder="URL de la imagen">
    </div>

    <div>
        <label for="text">Texto de la noticia</label>
        <textarea id="text" name="text" placeholder="Texto de la noticia"></textarea>
    </div>

    <div>
        <label for="fecha">Fecha</label>
        <input type="text" id="fecha" name="fecha" placeholder="Fecha">
    </div>

    <button type="submit">Publicar</button>
</div>



<div class="noticias" style="background-color: rgb(250, 206, 119); padding: 80px;">
    <h2>NOTICIAS</h2>

    
</div>